<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agenda</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <!-- icon font -->
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    @if (TempData["notice"] != null)
    {
        <script language='javascript' type='text/javascript'>alert('@TempData["notice"]');</script>
    }
</body>
</html>
