.table td.exclusive {
    background-color: darkmagenta !important;
}

.table td.open {
    background-color: none !important;
}

table {
    border-collapse: collapse;
    overflow-x: scroll;
    display: block;
}

tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
}

thead, tbody {
    display: block;
}

td, th {
    min-width: 200px;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    max-width: 200px;
}

thead tr th:nth-child(1), 
tr td:nth-child(1) {
    min-width: 5px;
    max-width: 5px;
}

thead tr th:nth-child(2),
tr td:nth-child(2) {
    min-width: 25px;
    max-width: 25px;
}

thead tr th:nth-child(3),
tr td:nth-child(3) {
    min-width: 75px;
    max-width: 75px;
}