<h1 *ngIf="member">{{ member.name }}</h1>

<div class="row" *ngIf="member">
    <div class="col-md-3">
        <div class="box-body box-profile">

            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Leading</b> <a class="pull-right">{{ member.leading }}</a>
                </li>
                <li class="list-group-item">
                    <b>Following</b> <a class="pull-right">{{ member.following }}</a>
                </li>
                <li class="list-group-item">
                    <b>Invites</b> <a class="pull-right">{{ member.invites }}</a>
                </li>
            </ul>
        </div>

        <div class="box-body">
            <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>

            <p class="text-muted">
                <a href="mailto: {{member.email}}">{{ member.email }}</a>
            </p>

            <hr>

            <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>

            <p class="text-muted">{{ member.address }}</p>

            <hr>

            <strong><i class="fa fa-mobile margin-r-5"></i> Mobile</strong>

            <p class="text-muted">{{ member.mobile }}</p>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Activities</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <table class="table table-striped table-hover tbl1" id="tblProfile">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Time Logged</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of member.activities; let i = index">
                            <td>{{ a.category }}</td>
                            <td>{{ a.event }}</td>
                            <td>{{ a.eventDate  | date: 'MM/dd/yyyy' }}</td>
                            <td>{{ a.timeLogged  |  date: 'MM/dd/yyyy hh:mm a' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>