<!--Footer-->
<footer>
    <hr />
    <!--Copyright-->
    <div class="footer-copyright text-center">
        <small>
            powered by
            <a href="https://periapsys.com" target="_blank"> PeriapSys.com </a>
            <br />
            v @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion
        </small>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
