<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infolog" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}-info.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffK} ${pad:padding=5:fixedLength=true:${level:uppercase=true}} ${mdlc:item=log_id} ${message}"/>
    <target name="debuglog" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}-debug.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffK} ${pad:padding=5:fixedLength=true:${level:uppercase=true}} ${mdlc:item=log_id} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infolog">
      <filters>
        <when condition="contains('${message}', 'AppModuleShared/DashboardComponent.ngfactory.js')" action="Ignore" />
        <when condition="contains('${message}', 'An exception was thrown while deserializing the token.')" action="Ignore" />
        <when condition="contains('${message}', 'jQuery requires a window with a document')" action="Ignore" />
      </filters>
    </logger>>
    <logger name="*" minlevel="Debug" writeTo="debuglog">
      <filters>
        <when condition="contains('${message}', 'AppModuleShared/DashboardComponent.ngfactory.js')" action="Ignore" />
        <when condition="contains('${message}', 'An exception was thrown while deserializing the token.')" action="Ignore" />
        <when condition="contains('${message}', 'jQuery requires a window with a document')" action="Ignore" />
      </filters>      
    </logger>
  </rules>
</nlog>
