<div *ngIf="event" (window:resize)="initMenu()">

    <div class="row">
        <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10">
            <h1>{{ event.name }}</h1>
            <i>{{ event.category }}</i>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
            <h1 class="pull-right">
                <span id="sidebarCollapse" (click)="toggleMenu()" style="cursor:pointer" *ngIf="showMenuButton()"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
            </h1>
        </div>
    </div>
    
    <br />
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Checklist</a></li>
        <li><a data-toggle="pill" href="#menu1" (click)="onPaginateAttendees(1)">Attendees</a></li>
        <li><a data-toggle="pill" href="#menu2">First-timer Registration</a></li>
        <li><a data-toggle="pill" href="#menu3" (click)="onGoingClick(id)">Going</a></li>
        <li><a data-toggle="pill" href="#menu4" (click)="onStatsLoad()">Stats</a></li>
    </ul>

    <hr />

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            <form class="form-group" #frmSearchRegistrants="ngForm" (ngSubmit)="onSearchRegistrantsSubmit(frmSearchRegistrants)" ngNativeValidate id="frmSearchRegistrants">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" placeholder="Name" name="name" ngModel autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <a class="btn btn-default" onclick='document.getElementById("frmSearchRegistrants").reset()'>Clear</a>
            </form>
            <hr />

            <p *ngIf="chunk"><small>Found: {{ chunk.pager.totalItems }}</small></p>

            <div class="row" *ngIf="chunk">
                <div *ngFor="let r of chunk.registrants; let i = index" class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="thumbnail" [ngClass]="{attended: r.dateTimeLogged != null && r.dateTimeLogged != '', available: r.dateTimeLogged == null || r.dateTimeLogged == ''}" style="cursor: pointer" (click)="toggle(r)">
                        <div class="caption">
                            <h4>{{ r.name }}</h4>
                            <p>{{ r.dateTimeLogged |  date: 'MM/dd/yyyy hh:mm a' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="chunk && chunk.pager.endPage > 1">
                <ul class="pagination" *ngIf="chunk">
                    <li *ngIf="chunk.pager.currentPage > 1">
                        <a style="cursor:pointer" (click)="onPaginate(1)">First</a>
                    </li>
                    <li *ngIf="chunk.pager.currentPage > 1">
                        <a style="cursor:pointer" (click)="onPaginate(chunk.pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let p of chunk.pager.pageIndices" [ngClass]="{active: chunk.pager.currentPage == p}">
                        <a style="cursor:pointer" (click)="onPaginate(p)">{{ p }}</a>
                    </li>
                    <li *ngIf="chunk.pager.currentPage < chunk.pager.totalPages">
                        <a style="cursor:pointer" (click)="onPaginate(chunk.pager.currentPage + 1)">Next</a>
                    </li>
                    <li *ngIf="chunk.pager.currentPage < chunk.pager.totalPages">
                        <a style="cursor:pointer" (click)="onPaginate(chunk.pager.totalPages)">Last</a>
                    </li>
                </ul>
            </ng-container>

        </div>
        <div id="menu1" class="tab-pane fade">
            <p *ngIf="!chunkAttendees"><em>Loading...</em></p>
            <small *ngIf="chunkAttendees">Found: {{ chunkAttendees.pager.totalItems }}</small>
            <table id="tbl" class="table table-striped table-hover tbl" *ngIf="chunkAttendees">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Time Logged</th>
                    </tr>
                </thead>
                <tbody style="padding-bottom: 50px">
                    <tr *ngFor="let e of chunkAttendees.attendees; let i = index">
                        <td>{{ e.name }}</td>
                        <td>{{ e.dateTimeLogged |  date: 'MM/dd/yyyy hh:mm a' }}</td>
                    </tr>
                </tbody>
            </table>

            <ng-container *ngIf="chunkAttendees && chunkAttendees.pager.endPage > 1">
                <ul class="pagination" *ngIf="chunkAttendees">
                    <li *ngIf="chunkAttendees.pager.currentPage > 1">
                        <a style="cursor:pointer" (click)="paginateAttendees(1)">First</a>
                    </li>
                    <li *ngIf="chunkAttendees.pager.currentPage > 1">
                        <a style="cursor:pointer" (click)="paginateAttendees(chunkAttendees.pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let p of chunkAttendees.pager.pageIndices" [ngClass]="{active: chunkAttendees.pager.currentPage == p}">
                        <a style="cursor:pointer" (click)="paginateAttendees(p)">{{ p }}</a>
                    </li>
                    <li *ngIf="chunkAttendees.pager.currentPage < chunkAttendees.pager.totalPages">
                        <a style="cursor:pointer" (click)="paginateAttendees(chunkAttendees.pager.currentPage + 1)">Next</a>
                    </li>
                    <li *ngIf="chunkAttendees.pager.currentPage < chunkAttendees.pager.totalPages">
                        <a style="cursor:pointer" (click)="paginateAttendees(chunkAttendees.pager.totalPages)">Last</a>
                    </li>
                </ul>
            </ng-container>
        </div>
        <div id="menu2" class="tab-pane fade">
            <form class="form-group" #frmNew="ngForm" (ngSubmit)="onNewSubmit(frmNew)" ngNativeValidate id="frmNew">
                <div class="form-group">
                    <label>First name*</label>
                    <input class="form-control" placeholder="First name" name="firstName" ngModel required>
                </div>
                <div class="form-group">
                    <label>Middle initial <small>(1 letter)</small></label>
                    <input class="form-control" placeholder="Middle initial" name="middleInitial" pattern="[A-Za-z]{1}" ngModel>
                </div>
                <div class="form-group">
                    <label>Last name*</label>
                    <input class="form-control" placeholder="Last name" name="lastName" ngModel required>
                </div>
                <div class="form-group">
                    <label>Nick</label>
                    <input class="form-control" placeholder="Nick" name="nickName" ngModel>
                </div>
                <div class="form-group">
                    <label>Birth date</label>
                    <!--<input type="date" class="form-control" name="birthDate" ngModel>-->
                    <my-date-picker name="birthDate" [options]="myDatePickerOptions"
                                    ngModel></my-date-picker>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender" ngModel>
                        <option value="">--SELECT--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" placeholder="Address" name="address" ngModel>
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input class="form-control" placeholder="Mobile" name="mobile" ngModel>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-default" onclick='document.getElementById("frmNew").reset()'>Clear</a>
                </div>
            </form>
        </div>
        <div id="menu3" class="tab-pane fade">
            <p *ngIf="!going"><em>Loading...</em></p>
            <small *ngIf="going">Found: {{ going.length }}</small>
            <table id="tbl1" class="table table-striped table-hover tbl1" *ngIf="going">
                <thead>
                    <tr>
                        <th></th>
                        <th>Member</th>
                        <th>Time Responded</th>
                    </tr>
                </thead>
                <tbody style="padding-bottom: 50px">
                    <tr *ngFor="let e of going; let i = index">
                        <td>
                            <button class="btn btn-default" (click)="onAttendedClick(e)">Attended</button>
                        </td>
                        <td>{{ e.member }}</td>
                        <td>{{ e.dateTimeResponded |  date: 'MM/dd/yyyy hh:mm a' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="menu4" class="tab-pane fade">
            <p *ngIf="!ec"><em>Loading...</em></p>
            <div *ngIf="ec">

                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h1 class="glyphicon glyphicon-pawn"></h1>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2>{{ total }}</h2>
                                        <div>Total registrants</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h1 class="glyphicon glyphicon-check"></h1>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2>{{ totalAttendees }}</h2>
                                        <div>Total attended</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h1 class="glyphicon glyphicon-unchecked"></h1>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2>{{ totalPending }}</h2>
                                        <div>Total pending</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>

                <hr />

                <h3>Progress</h3>
                <ng-container *ngIf="event.isExclusive == false">
                    <span>{{ totalAttendees }}/{{ ec.averageAttendees }} (Attended/Estimated)</span>
                    <div class="progress">
                        <!-- https://stackoverflow.com/questions/39161088/cant-bind-to-aria-valuenow-since-it-isnt-a-known-property-of-div -->
                        <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ (totalAttendees/ec.averageAttendees) * 100 }}" aria-valuemin="0" aria-valuemax="100" [style.width]="(totalAttendees/ec.averageAttendees) * 100 +'%'">
                            <span>{{ (totalAttendees/ec.averageAttendees) * 100 | number }} %</span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="event.isExclusive == true">
                    <span>{{ totalAttendees }}/{{ total }} (Attended/Estimated)</span>
                    <div class="progress">
                        <!-- https://stackoverflow.com/questions/39161088/cant-bind-to-aria-valuenow-since-it-isnt-a-known-property-of-div -->
                        <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ (totalAttendees/total) * 100 }}" aria-valuemin="0" aria-valuemax="100" [style.width]="(totalAttendees/total) * 100 +'%'">
                            <span>{{ (totalAttendees/total) * 100 | number }} %</span>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>