div.attended {
    background-color: #d9edf7;
}

div.available {
    background-color: none;
}

.tbl thead tr th:nth-child(1),
.tbl tr td:nth-child(1) {
    min-width: 300px;
    max-width: 300px;
}

.tbl1 thead tr th:nth-child(1),
.tbl1 tr td:nth-child(1) {
    min-width: 100px;
    max-width: 100px;
}

.tbl2 thead tr th:nth-child(1),
.tbl2 tr td:nth-child(1) {
    min-width: 300px;
    max-width: 300px;
}

/* You can add global styles to this file, and also import other style files */
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}