<h1>Dashboard</h1>

<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Attendance</a></li>
    <li><a data-toggle="pill" href="#menu1">Groups</a></li>
    <li><a data-toggle="pill" href="#menu2">Members</a></li>
    <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
</ul>

<hr />

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <p *ngIf="!eventcategoryStats"><em>Loading...</em></p>
        <div *ngIf="eventcategoryStats">
            <h3>Average Attendees</h3>
            <canvas baseChart
                    height="350"
                    [data]="eventcategoryStats.values"
                    [labels]="eventcategoryStats.labels"
                    [chartType]="eventcategoryChartType"></canvas>
        </div>

        <hr />

        <p *ngIf="!locationStats"><em>Loading...</em></p>
        <div *ngIf="locationStats">
            <h3>Locations</h3>
            <canvas baseChart
                    height="350"
                    [data]="locationStats.values"
                    [labels]="locationStats.labels"
                    [chartType]="locationChartType"></canvas>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <p *ngIf="!groupCategoryStats"><em>Loading...</em></p>
        <div style="display: block" *ngIf="groupCategoryStats">
            <h3>Group Categories</h3>
            <canvas baseChart
                    [data]="groupCategoryStats.values"
                    [labels]="groupCategoryStats.labels"
                    [options]="groupCategoryChartOptions"
                    [chartType]="groupCategoryChartType"></canvas>
        </div>
        
    </div>
    <div id="menu2" class="tab-pane fade">
        <p *ngIf="!memberStats"><em>Loading...</em></p>
        <div style="display: block" *ngIf="memberStats">
            <h3>Members</h3>
            <canvas baseChart
                    [data]="memberStats.values"
                    [labels]="memberStats.labels"
                    [chartType]="memberChartType"></canvas>
        </div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
</div>