<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
            <!--Footer-->
            <footer>
                <hr />
                <!--Copyright-->
                <div class="footer-copyright text-center">
                    <small>
                        powered by
                        <a href="https://periapsys.com" target="_blank"> PeriapSys.com </a>
                        <br/>
                        v {{ version }}
                    </small>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="about">About</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="https://periapsys.com/contact" target="_blank">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="https://www.paypal.me/reignydeyz/500" target="_blank">Donate</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="privacy">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="terms">Terms</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="https://periapsys.com/about" target="_blank">What we do</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Copyright-->

            </footer>
            <!--/.Footer-->
        </div>
    </div>
</div>
