<h1>Calendar</h1>

<hr />

<p *ngIf="!calendarEvents"><em>Loading...</em></p>
<div *ngIf="calendarEvents">
    <div class="row">
        <div *ngFor="let e of calendarEvents; let i = index" class="col-xs-12 col-sm-6 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <p>
                        {{ e.dateTimeStart |  date: 'EEEE, MMM dd, hh:mm a' }}
                        <span class="pull-right glyphicon glyphicon-thumbs-up" *ngIf="e.isGoing == true"></span>
                        <span class="pull-right glyphicon glyphicon-thumbs-down" *ngIf="e.isGoing == false"></span>
                    </p>
                    <h4>{{ e.event }}</h4>
                    <p><em>{{ e.category }}</em></p>
                    <p>{{ e.location }}</p>
                    <p>
                        <a style="cursor:pointer" (click)="onGoingClick(e.id)" class="btn btn-primary" role="button" *ngIf="e.isGoing == false || e.isGoing == null || e.isGoing == undefined"><em class="glyphicon glyphicon-thumbs-up"></em> Going</a> 
                        <a style="cursor:pointer" (click)="onNotInterestedClick(e.id)" class="btn btn-default" role="button" *ngIf="e.isGoing == true || e.isGoing == null || e.isGoing == undefined"><em class="glyphicon glyphicon-thumbs-down"></em> Not interested</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>