<h1>Calendar</h1>

<hr />

<p *ngIf="!events"><em>Loading...</em></p>
<div *ngIf="events">
    <div class="row">
        <div *ngFor="let e of events; let i = index" class="col-xs-12 col-sm-6 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <p>{{ e.dateTimeStart |  date: 'EEEE, MMM dd, hh:mm a' }}</p>
                    <h4>{{ e.name }}</h4>
                    <p><i>{{ e.category }}</i></p>
                    <p>{{ e.location }}</p>
                    <p><a href="#" class="btn btn-primary" role="button">Going</a> <a href="#" class="btn btn-default" role="button">Not interested</a></p>
                </div>
            </div>
        </div>
    </div>
</div>