@{
    Layout = "_Layout";
}
@model PERI.Agenda.Web.Models.ForgotPassword


<div class="container">
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h3><span class='glyphicon glyphicon-check'></span>&nbsp;&nbsp;&nbsp;Fogot password? We got you.</h3>
            <small>Please enter your email to begin process.</small>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(x => x.Email, new { placeholder = "Email", @class = "form-control", required = "required", @type = "email" })
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <a class="btn btn-default btn-block" href="~/Authorization">Back</a>
    }
</div>