<h1>Event Categories</h1>

<hr />

<p *ngIf="!eventcategories"><em>Loading...</em></p>

<p *ngIf="eventcategories">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalNew" onclick='document.getElementById("frmNew").reset()'>New</a>
</p>

<div *ngIf="eventcategories">
    <table class="table table-striped" id="tbl">
        <thead>
            <tr>
                <th width="5%"><input type="checkbox" (change)="checkAll()" id="checkall" /></th>
                <th>Name</th>
                <th>Events</th>
                <th>Min Attendees</th>
                <th>Average Attendees</th>
                <th>Max Attendees</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of eventcategories; let i = index">
                <td><input type="checkbox" value="{{ e.id }}" class="checkBox" /></td>
                <td>{{ e.name }}</td>
                <td>{{ e.events }}</td>
                <td>{{ e.minAttendees }}</td>
                <td>{{ e.averageAttendees }}</td>
                <td>{{ e.maxAttendees }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalNew" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Event Category</h4>
            </div>
            <form class="form-group" #frmNew="ngForm" ngNativeValidate id="frmNew">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name*</label>
                        <input class="form-control" placeholder="Name" name="name" ngModel required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>