<h1>Members</h1>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <h1 class="glyphicon glyphicon-pawn"></h1>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2>{{ total }}</h2>
                        <div>Total members</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <h1 class="glyphicon glyphicon-check"></h1>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2>{{ actives }}</h2>
                        <div>Total active members</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <h1 class="glyphicon glyphicon-unchecked"></h1>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2>{{ inactives }}</h2>
                        <div>Total inactive members</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- ./col -->
</div>

<form class="form-group" #frm="ngForm" (ngSubmit)="onSearchSubmit(frm)" ngNativeValidate id="frm">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" placeholder="Name" name="name" ngModel>
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a class="btn btn-default" onclick='document.getElementById("frm").reset()'>Clear</a>
</form>

<hr />

<p *ngIf="!members"><em>Loading...</em></p>

<p *ngIf="members">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalNew" onclick='document.getElementById("frmNew").reset()'>New</a>
    <button class="btn btn-default" (click)="onDeleteClick()">Delete</button>
    <button class="btn btn-default" (click)="onActivateClick()">Activate</button>
    <button class="btn btn-default" (click)="onDeactivateClick()">Deactivate</button>
    <button class="btn btn-success" style="float: right" onclick="location.reload();">Refresh</button>
</p>

<small *ngIf="members">Found: {{ members.length }}</small>
<div style="width:100%; height:75vh; overflow:auto" *ngIf="members">
    <table class="table" id="tbl">
        <thead>
            <tr>
                <th width="1%" style="padding: 2px"></th>
                <th width="5%"><input type="checkbox" (change)="checkAll()" id="checkall" /></th>
                <th width="5%"></th>
                <th>Name</th>
                <th>Nick</th>
                <th>Birth date</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of members; let i = index">
                <td [ngClass]="{active: m.isActive == true || m.isActive == 'true', inactive: m.isActive == false || m.isActive == 'false'}" style="padding: 2px"></td>
                <td><input type="checkbox" value="{{ m.id }}" class="checkBox" /></td>
                <td><button class="btn btn-default" data-toggle="modal" data-target="#modalEdit" (click)="onEditInit(m.id)">Edit</button></td>
                <td>{{ m.name }}</td>
                <td>{{ m.nickName }}</td>
                <td>{{ m.birthDate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ m.gender == 3 ? 'Male' : (m.gender == 4 ? 'Female' : '') }}</td>
                <td><a href="mailto: {{m.email}}">{{ m.email }}</a></td>
                <td>{{ m.mobile }}</td>
                <td>{{ m.address }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="modalNew" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Member</h4>
            </div>
            <form class="form-group" #frmNew="ngForm" (ngSubmit)="onNewSubmit(frmNew)" ngNativeValidate id="frmNew">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" placeholder="Name" name="name" ngModel required>
                    </div>
                    <div class="form-group">
                        <label>Nick</label>
                        <input class="form-control" placeholder="Nick" name="nickName" ngModel required>
                    </div>
                    <div class="form-group">
                        <label>Birth date</label>
                        <input type="date" class="form-control" name="birthDate" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" required>
                            <option value="">--SELECT--</option>
                            <option *ngFor="let g of genders" value="{{ g.value }}">{{ g.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control" placeholder="Address" name="address" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control" placeholder="Mobile" name="mobile" ngModel>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Member</h4>
            </div>
            <form class="form-group" (ngSubmit)="onEditSubmit(member)" ngNativeValidate id="frmEdit">
                <input type="hidden" id="index">
                <input type="hidden" name="member.id" [(ngModel)]="member.id">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" placeholder="Name" name="member.name" required [(ngModel)]="member.name">
                    </div>
                    <div class="form-group">
                        <label>Nick</label>
                        <input class="form-control" placeholder="Nick" name="member.nickName" [(ngModel)]="member.nickName">
                    </div>
                    <div class="form-group">
                        <label>Birth date</label>
                        <!--https://stackoverflow.com/questions/18157045/date-field-does-not-display-the-value-in-chrome-browser-->
                        <input type="date" class="form-control" value="{{ member.birthDate | date: 'yyyy-MM-dd' }}" id="txtDate" (keypress)="onBirthDateChange()">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <!--https://stackoverflow.com/questions/35945001/binding-select-element-to-object-in-angular-->
                        <select class="form-control" required [(ngModel)]="member.gender" name="member.gender">
                            <option value="">--SELECT--</option>
                            <option *ngFor="let g of genders" [value]="g.value">{{ g.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Email" name="member.email" [(ngModel)]="member.email">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control" placeholder="Address" name="member.address" [(ngModel)]="member.address">
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control" placeholder="Mobile" name="member.mobile" [(ngModel)]="member.mobile">
                    </div>
                    <div class="form-group">
                        <label>Is active?</label>
                        <select class="form-control" [(ngModel)]="member.isActive" name="member.isActive">
                            <option *ngFor="let s of statuses" [value]="s">{{ s == false ? 'No' : 'Yes' }}</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
