.table td.inactive {
    background-color: red !important;
}

.table td.active {
    background-color: none !important;
}

thead tr th:nth-child(1),
tr td:nth-child(1) {
    min-width: 3px;
    max-width: 3px;
    padding: inherit !important;
}

thead tr th:nth-child(2),
tr td:nth-child(2) {
    min-width: 25px;
    max-width: 25px;
}

thead tr th:nth-child(3),
tr td:nth-child(3) {
    min-width: 85px;
    max-width: 85px;
}

a.assigned {
    font-weight: bold;
}

a.normal {
    font-weight: normal;
}